### Inroduction of List and Array vs List

#### The most basic data structure in Python is the sequence. Each element of a sequence is assigned a number - its position or index. The first index is zero, the second index is one, and so forth.
*  A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. They are very similar to arrays. List can contain any type of variable, and they can contain as many variables as you wish. The list type implements the sequence protocol, and also allows you to add and remove objects from the sequence. It is a mutable container. This means that we can add values, delete values, or modify existing values.

* Python array can contain elements only of some types, and all elements must be of the same type. Whereas, Python list can mix types of elements. Python list type is implemented as a dynamic array of references because the references are of one type.

### Create A List

In [235]:
li = []

In [236]:
li = [1,2,3]

In [237]:
print(type(li))

<class 'list'>

In [238]:
li = [1,2,]

In [239]:
li = [1,2,]

In [240]:
li = [1,2,"Parikh",3.4]

In [241]:
print(li)

[1, 2, 'Parikh', 3.4]

### Access And Change Elements In List

In [242]:
print(li[0])

1

In [243]:
print(li[2])

Parikh

In [244]:
print(li[3])

3.4

In [245]:
# print(li[4]) # It will give error "IndexError: list index out of range"

In [246]:
li[0] = 5

In [247]:
print(li)

[5, 2, 'Parikh', 3.4]

In [248]:
li[3] = "Rohan"

In [249]:
print(li)

[5, 2, 'Parikh', 'Rohan']

In [250]:
# li[4] = 9 # It will give erroe IndexError: list assignment index out of range

### Slicing Of A List

In [251]:
print(li[1:3])

[2, 'Parikh']

In [252]:
print(li)

[5, 2, 'Parikh', 'Rohan']

In [253]:
print(li[1:])

[2, 'Parikh', 'Rohan']

In [254]:
print(li[:])

[5, 2, 'Parikh', 'Rohan']

In [255]:
print(li[1:10])

[2, 'Parikh', 'Rohan']

### Insert And Append Elements In List

In [256]:
li.append("Ankush")

In [257]:
print(li)

[5, 2, 'Parikh', 'Rohan', 'Ankush']

In [258]:
# li.insert(1,) #TypeError: insert() takes exactly 2 arguments (1 given)

In [259]:
li.insert(1,7)

In [260]:
print(li)

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush']

In [261]:
li.insert(6,10)

In [262]:
print(li)

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10]

In [263]:
li.insert(9,"Karan")

In [264]:
print(li)

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan']

In [265]:
li.append([9,10,11])

In [266]:
print(li)

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11]]

In [267]:
li.extend([9,10,11])

In [268]:
print(li)

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11]

### Removing Elements From List

In [269]:
li.remove(10)

In [270]:
print(li)

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11]

In [271]:
li.append(5)

In [272]:
print(li)

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [273]:
li.remove(2)

In [274]:
print(li)

[5, 7, 'Parikh', 'Rohan', 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [275]:
# li.remove(6) # ValueError: list.remove(x): x not in list

In [276]:
print(li.pop())

5

In [277]:
print(li)

[5, 7, 'Parikh', 'Rohan', 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11]

In [278]:
print(li.pop())

11

In [279]:
print(li.pop(2))

Parikh

In [280]:
print(li)

[5, 7, 'Rohan', 'Ankush', 'Karan', [9, 10, 11], 9, 10]

In [281]:
# print(li.pop(18)) #IndexError: pop index out of range

In [282]:
print(li.pop(4))

Karan

In [283]:
print(li)

[5, 7, 'Rohan', 'Ankush', [9, 10, 11], 9, 10]

In [284]:
print(len(li))

7

### Loops On List

In [285]:
li = [1,2,"Parikh",9,10,11,"Ankush"]

In [286]:
print(li)

[1, 2, 'Parikh', 9, 10, 11, 'Ankush']

In [287]:
for i in range(len(li)):
    print(li[i])

1
2
Parikh
9
10
11
Ankush

In [288]:
for i in range(2,len(li)):
    print(li[i])

Parikh
9
10
11
Ankush

In [289]:
for ele in li:
    print(ele)

1
2
Parikh
9
10
11
Ankush

In [290]:
for ele in li[2:]:
    print(ele)

Parikh
9
10
11
Ankush

In [291]:
for ele in li[2:4]:
    print(ele)

Parikh
9

### Negative Indexing And Sequencinging List

Negative Indexing

In [293]:
li = [1,2,3,4,5]

In [295]:
print(li[0])

1

In [297]:
print(li[-1])

5

In [298]:
print(li[-2])

4

In [299]:
print(li[-3])

3

In [300]:
print(li[-5])

1

In [302]:
# print(li[-8]) #IndexError: list index out of range

### Sequencing In List

In [303]:
print(li)

[1, 2, 3, 4, 5]

In [304]:
print(li[1:5:1])

[2, 3, 4, 5]

In [305]:
print(li[1:3:1])

[2, 3]

In [306]:
print(li[1:5:2])

[2, 4]

In [307]:
print(li)

[1, 2, 3, 4, 5]

In [308]:
print(li[1:])

[2, 3, 4, 5]

In [309]:
print(li[1::2])

[2, 4]

In [310]:
print(li[:3])

[1, 2, 3]

In [311]:
print(li[-1:])

[5]

In [312]:
print(li[-3:-1])

[3, 4]

In [313]:
print(li[3::-1])

[4, 3, 2, 1]

In [314]:
print(li[3:1:-1])

[4, 3]

In [315]:
print(li[3:0:-1])

[4, 3, 2]

In [316]:
print(li[3:-1:-1])

[]

In [317]:
print(li[3::-1])

[4, 3, 2, 1]

### There are 2 ways to take an Input in Python 
* Line Sepetated Input in List. It has not used in most of the cases.
* Space Seprated Input in List. It is the most efficent way to take Input in List. It has widely used in all places.

### Line Seperated Input

In [318]:
n = input()

5

In [320]:
print(type(n)) # type is string we have to convert into integer

<class 'str'>

In [321]:
n = int(input())

5

In [322]:
print(type(n))

<class 'int'>

In [323]:
li = []
for i in range(n):
    curr = int(input())
    li.append(curr)

1
2
3
4
5

In [324]:
print(li)

[1, 2, 3, 4, 5]

In [325]:
for ele in li:
    print(ele)

1
2
3
4
5

### Space Seprated Input in List

* For Space Seprated Input in List there are three ways which is given in bellow

In [326]:
n = int(input())
li1 = list(int(x) for x in input().split())
print(li1)

5
1 2 3 4 5
[1, 2, 3, 4, 5]

In [327]:
n = int(input())
li2 = [int(x) for x in input().split()]
print(li2)

5
1 3 2 4 8
[1, 3, 2, 4, 8]

In [328]:
n = int(input())
li3 = list(map(int, input().split()))
print(li3)

4
1 2 3 5
[1, 2, 3, 5]

### Eg. Qus Linear Search

In [2]:
isFound = False
n = int(input())
li = list(int(x) for x in input().split())
ele = int(input())
for i in range(len(li)):
    if li[i] == ele:
        print(i)
        isFound = True
        break
if isFound is False:
    print(-1)

5
1 2 3 6 4
2
1

### List Inbuilt Functions

In [25]:
a = [1,3,4,5]

For Lenght of the List

In [26]:
print(len(a))

4

In [27]:
b = [6,7,3]

In [28]:
# a + 3 TypeError: can only concatenate list (not "int") to list

Cocatinate the two Lists

In [29]:
print(a + b)

[1, 3, 4, 5, 6, 7, 3]

'N' num of times repating List

In [30]:
print(a * 3)

[1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5]

add data to the end

In [31]:
a.append(6)

In [32]:
print(a)

[1, 3, 4, 5, 6]

add data to specific index

In [33]:
a.insert(0, 3)

In [34]:
print(a)

[3, 1, 3, 4, 5, 6]

List extend with another List

In [35]:
a.extend(b)

In [36]:
print(a)

[3, 1, 3, 4, 5, 6, 6, 7, 3]

delete data

In [37]:
a.remove(5)

In [38]:
print(a)

[3, 1, 3, 4, 6, 6, 7, 3]

In [39]:
a.pop(0)

3

In [40]:
print(a)

[1, 3, 4, 6, 6, 7, 3]

In [41]:
del a[4]

In [42]:
print(a)

[1, 3, 4, 6, 7, 3]

Sort the List

In [43]:
a.sort()

In [44]:
print(a)

[1, 3, 3, 4, 6, 7]

Find Max Element

In [45]:
print(max(b))

7

In [47]:
#b = [1, 2, 0, "abc"]
#max(b) # TypeError: '>' not supported between instances of 'str' and 'int'

Element present Or Not

In [49]:
print(100 in b)

False

### Passing List Through Functions

In [53]:
def increment(li):
    
    #li[0] = li[0] + 1
    li = [2,1,3,4]
    return

li = [1,2,3,4]
increment(li)
print(li)

[1, 2, 3, 4]

### Eg. Liner Search Through Function

In [54]:
def linear_search(li,ele):
    #li is the list and ele is the element to be search
    for i in range(len(li)):
        if li[i] == ele:
            return i
    return -1

li = [1,2,3,6,5]
index = linear_search(li,9)
print(index)

-1

### Reverse List

In [55]:
def reverse_l(li):
    length = len(li)
    for i in range(length//2):
        temp = li[i]
        li[i] = li[length-i-1]
        li[length-i-1] = temp
        
li = [1,2,3,4,5]
reverse_l(li)
print(li)

[5, 4, 3, 2, 1]

In [56]:
def reverse_l_2(li):
    length = len(li)
    for i in range(length//2):
        temp = li[i]
        li[i] = li[-i-1]
        li[-i-1] = temp
        
li = [1,2,3,4,5,6]
reverse_l(li)
print(li)

[6, 5, 4, 3, 2, 1]

In [57]:
print(li[3::-1])

[3, 4, 5, 6]

In [58]:
print(li[3:1:-1])

[3, 4]

In [59]:
print(li[::-1])

[1, 2, 3, 4, 5, 6]

In [62]:
li = li[::-2]

In [63]:
print(li)

[5, 1]

### Some Practice Qus

Find Unique Element

In [64]:
T = int(input())
while T>0:
    
    N = int(input())
    res=0
    arr = list(map(int,input().split()))
    
    for i in range(len(arr)):
        res = res^arr[i]
    
    print(res)
    T=T-1

2
5
2 4 7 2 7
4
9
1 3 1 3 6 6 7 10 7
10

Find Duplicate Element

In [67]:
import sys

def duplicateNumber(arr, n) :
    for i in range(n-1) :
        for j in range((i+1),n) :
            if arr[i]==arr[j] :
                return arr[i]
    return sys.maxsize

T = int(input())
while T>0:
    
    N = int(input())
    arr = list(map(int,input().split()))
    print(duplicateNumber(arr, N))
    T=T-1

2
5
0 2 1 3 1
1
7
0 3 1 5 4 3 2
3

Find Intersections of Two Lists

In [2]:
import sys

def intersections(arr1, n, arr2, m) :
    for i in range(n) :
        for j in range(m) :
            if arr1[i] == arr2[j] :
                print(arr1[i], end =" ")
                arr2[j] = sys.maxsize
                break;
                
T = int(input())
while T>0:
    
    N = int(input())
    arr1 = list(map(int,input().split()))
    M = int(input())
    arr2 = list(map(int,input().split()))
    intersections(arr1, N, arr2, M)
    print()
    T=T-1

1
6
2 6 8 5 4 3
4
2 3 4 7
2 4 3

In [2]:
def pairSum(arr, n, x) :
    count = 0
    for i in range(n):
        for j in range((i+1),n):
            if arr[i]+arr[j] == x:
                count=count+1
                
    return count

T = int(input())
while T>0:
    
    N = int(input())
    arr1 = list(map(int,input().split()))
    x = int(input())
    print(pairSum(arr1, N, x))

    T=T-1

1
9
1 3 6 2 5 4 3 2 4
7
7

In [3]:
def findTriplet(arr, n, x) :
    #Your code goes here
    #return your answer
    count = 0
    for i in range(n):
        for j in range((i+1),n):
            for k in range((j+1),n):
                if (arr[i] + arr[j] + arr[k]) == x:
                    count=count+1
    return count

T = int(input())
while T>0:
    
    N = int(input())
    arr1 = list(map(int,input().split()))
    x = int(input())
    print(findTriplet(arr1, N, x))

    T=T-1

1
7
1 2 3 4 5 6 7
12
5