### Tuples, Dictionary And Sets
* <b>Tuples</b><br>
A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

<b>Initialization of Tuple</b>

In [1]:
tup = (2,3,"Deepak",5.4,"Math")
print(tup)

(2, 3, 'Deepak', 5.4, 'Math')

In [2]:
print(type(tup))

<class 'tuple'>

In [4]:
# if you trying to assign multiple values in single variable It will treat like tuple
tup = 2,5,8,"Deepak"
print(tup)
print(type(tup))

(2, 5, 8, 'Deepak')
<class 'tuple'>

In [10]:
# It is not right way to create a tuple. it is like an integer num. intialization 
a,b = 5,6
print(a, end = " ")
print(b)
print(type(a)," ", type(b))

print() #Just for "\n" new line 
# it is right way
e = 6,1,2,1.2
print(e)
print(type(e))

5 6
<class 'int'>   <class 'int'>

(6, 1, 2, 1.2)
<class 'tuple'>

<b> Access the element in Tuple</b><br>
It is the same way which we already disscused in list and String Tutorial

In [11]:
# Create a Tuple and Let's Perform on Opration
t = (2,8,4,2.5,6.5,"Physics", "Math")
print(t)

(2, 8, 4, 2.5, 6.5, 'Physics', 'Math')

In [12]:
print(t[0])

2

In [13]:
print(t[2])

4

In [14]:
print(t[5])

Physics

In [18]:
#print(t[7]) # It will give error "IndexError: list index out of range"

<b> Negative Indexing And Sequencinging Tuple</b>

In [19]:
print(t[-1])

Math

In [20]:
print(t[-2])

Physics

In [21]:
print(t[-3])

6.5

In [22]:
print(t[-5])

4

In [23]:
print(t[-7])

2

In [25]:
# print(t[-8]) # # It will give error "IndexError: list index out of range"

<b>Slicing Of A Tuples</b>

In [26]:
print(t[1:3])

(8, 4)

In [27]:
print(t[1:])

(8, 4, 2.5, 6.5, 'Physics', 'Math')

In [28]:
print(t[:])

(2, 8, 4, 2.5, 6.5, 'Physics', 'Math')

In [29]:
print(t[1:10])

(8, 4, 2.5, 6.5, 'Physics', 'Math')

In [30]:
print(t[1:5:1])

(8, 4, 2.5, 6.5)

In [32]:
print(t[1:5:2])

(8, 2.5)

In [33]:
print(t[1:5:1])

(8, 4, 2.5, 6.5)

In [34]:
print(t[1::2])

(8, 2.5, 'Physics')

In [35]:
print(t[:3])

(2, 8, 4)

In [36]:
print(t[-1:])

('Math',)

In [37]:
print(t[-3:-1])

(6.5, 'Physics')

In [38]:
print(t[-3::-1])

(6.5, 2.5, 4, 8, 2)

In [39]:
print(t[3:1:-1])

(2.5, 4)

In [40]:
print(t[3:0:-1])

(2.5, 4, 8)

In [41]:
print(t[3:-1:-1])

()

In [42]:
print(t[3::-1])

(2.5, 4, 8, 2)

<b>Loops On Tuples</b>

In [44]:
t = (1,2,"Parikh",9,10,11,"Ankush")
print(t)

(1, 2, 'Parikh', 9, 10, 11, 'Ankush')

In [45]:
for i in range(len(t)):
    print(t[i])

1
2
Parikh
9
10
11
Ankush

In [46]:
for i in range(2,len(t)):
    print(t[i])

Parikh
9
10
11
Ankush

In [47]:
for ele in t:
    print(ele)

1
2
Parikh
9
10
11
Ankush

In [48]:
for ele in t[2:]:
    print(ele)

Parikh
9
10
11
Ankush

In [49]:
for ele in t[2:4]:
    print(ele)

Parikh
9

<b> Tuples Inbuilt Functions</b>

In [53]:
t = (1,3,4,5)
print(t)

(1, 3, 4, 5)

In [54]:
print(len(t))

4

In [55]:
t1 = (6,7,3)
print(t1)
print()
print(len(t1))

(6, 7, 3)

3

Cocatinate the two Lists

In [56]:
print(t + t1)

(1, 3, 4, 5, 6, 7, 3)

'N' num of times repating List

In [57]:
print(t * 3)

(1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5)