### Tuples, Dictionary And Sets
* <b>Tuples</b><br>
A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

<b>Initialization of Tuple</b>

In [1]:
tup = (2,3,"Deepak",5.4,"Math")
print(tup)

(2, 3, 'Deepak', 5.4, 'Math')

In [2]:
print(type(tup))

<class 'tuple'>

In [4]:
# if you trying to assign multiple values in single variable It will treat like tuple
tup = 2,5,8,"Deepak"
print(tup)
print(type(tup))

(2, 5, 8, 'Deepak')
<class 'tuple'>

In [10]:
# It is not right way to create a tuple. it is like an integer num. intialization 
a,b = 5,6
print(a, end = " ")
print(b)
print(type(a)," ", type(b))

print() #Just for "\n" new line 
# it is right way
e = 6,1,2,1.2
print(e)
print(type(e))

5 6
<class 'int'>   <class 'int'>

(6, 1, 2, 1.2)
<class 'tuple'>

<b> Access the element in Tuple</b><br>
It is the same way which we already disscused in list and String Tutorial

In [11]:
# Create a Tuple and Let's Perform on Opration
t = (2,8,4,2.5,6.5,"Physics", "Math")
print(t)

(2, 8, 4, 2.5, 6.5, 'Physics', 'Math')

In [12]:
print(t[0])

2

In [13]:
print(t[2])

4

In [14]:
print(t[5])

Physics

In [18]:
#print(t[7]) # It will give error "IndexError: list index out of range"

<b> Negative Indexing And Sequencinging Tuple</b>

In [19]:
print(t[-1])

Math

In [20]:
print(t[-2])

Physics

In [21]:
print(t[-3])

6.5

In [22]:
print(t[-5])

4

In [23]:
print(t[-7])

2

In [25]:
# print(t[-8]) # # It will give error "IndexError: list index out of range"

<b>Slicing of A Tuples</b>

In [26]:
print(t[1:3])

(8, 4)

In [27]:
print(t[1:])

(8, 4, 2.5, 6.5, 'Physics', 'Math')

In [28]:
print(t[:])

(2, 8, 4, 2.5, 6.5, 'Physics', 'Math')

In [29]:
print(t[1:10])

(8, 4, 2.5, 6.5, 'Physics', 'Math')

In [30]:
print(t[1:5:1])

(8, 4, 2.5, 6.5)

In [32]:
print(t[1:5:2])

(8, 2.5)

In [33]:
print(t[1:5:1])

(8, 4, 2.5, 6.5)

In [34]:
print(t[1::2])

(8, 2.5, 'Physics')

In [35]:
print(t[:3])

(2, 8, 4)

In [36]:
print(t[-1:])

('Math',)

In [37]:
print(t[-3:-1])

(6.5, 'Physics')

In [38]:
print(t[-3::-1])

(6.5, 2.5, 4, 8, 2)

In [39]:
print(t[3:1:-1])

(2.5, 4)

In [40]:
print(t[3:0:-1])

(2.5, 4, 8)

In [41]:
print(t[3:-1:-1])

()

In [42]:
print(t[3::-1])

(2.5, 4, 8, 2)

<b>Loops On Tuples</b>

In [44]:
t = (1,2,"Parikh",9,10,11,"Ankush")
print(t)

(1, 2, 'Parikh', 9, 10, 11, 'Ankush')

In [45]:
for i in range(len(t)):
    print(t[i])

1
2
Parikh
9
10
11
Ankush

In [46]:
for i in range(2,len(t)):
    print(t[i])

Parikh
9
10
11
Ankush

In [47]:
for ele in t:
    print(ele)

1
2
Parikh
9
10
11
Ankush

In [48]:
for ele in t[2:]:
    print(ele)

Parikh
9
10
11
Ankush

In [49]:
for ele in t[2:4]:
    print(ele)

Parikh
9

<b> Tuples Inbuilt Functions</b>

In [53]:
t = (1,3,4,5)
print(t)

(1, 3, 4, 5)

In [54]:
print(len(t))

4

In [55]:
t1 = (6,7,3)
print(t1)
print()
print(len(t1))

(6, 7, 3)

3

Cocatinate the two Lists

In [56]:
print(t + t1)

(1, 3, 4, 5, 6, 7, 3)

'N' num of times repating List

In [57]:
print(t * 3)

(1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5)

Search 'Num' is present in Tuple or not

In [1]:
t = (1,2,8,4,5,3)
print(t)

(1, 2, 8, 4, 5, 3)

In [3]:
print(1 in t)

True

In [4]:
print(7 in t)

False

In [5]:
print(8 in t)

True

Find 'Min' and 'Max' element

In [6]:
t = (5, 6,3,1,7,5,9)
print(t)

(5, 6, 3, 1, 7, 5, 9)

In [7]:
print(min(t))

1

In [8]:
print(max(t))

9

In [14]:
t = (1,1.2,16.5,1.0,4,5,2)
print(t)

(1, 1.2, 16.5, 1.0, 4, 5, 2)

In [15]:
print(min(t),' ', max(t))

1   16.5

In [16]:
t = (1,"Deepak",2.2,9,6,3,4.0)
print(t)

(1, 'Deepak', 2.2, 9, 6, 3, 4.0)

In [18]:
#print(min(t)) # TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
t = (1,2,(5,8,3,4),17,8,9) 
print(t)

(1, 2, (5, 8, 3, 4), 17, 8, 9)

In [21]:
#print(min(t))# TypeError: '<' not supported between instances of 'tuple' and 'int'

Convert Tuple to List and Vice- Versa

In [22]:
li = [1,2,3,7,5,4]
t = tuple(li)
print(t)

(1, 2, 3, 7, 5, 4)

In [23]:
t = (1,2,3,7,5,4)
li = list(t)
print(li)

[1, 2, 3, 7, 5, 4]

Create Tuple of Tuple and Sort

In [24]:
t = (1,2,3,(5,7,"Deepak",1.4),4,7,3,2)
print(t)

(1, 2, 3, (5, 7, 'Deepak', 1.4), 4, 7, 3, 2)

In [29]:
#sorted(t) # TypeError: '<' not supported between instances of 'tuple' and 'int'

In [30]:
t = (1,8,2,9,3,4,6,2)
print(sorted(t))

[1, 2, 2, 3, 4, 6, 8, 9]

In [32]:
t = [(8,9,1),(2,3,7),(4,5,3)] # lexgraphically Sort
print(sorted(t))

[(2, 3, 7), (4, 5, 3), (8, 9, 1)]

In [33]:
t = (1,8.1,2.5,9.1,3,4,6,2)
print(sorted(t))

[1, 2, 2.5, 3, 4, 6, 8.1, 9.1]

<b> Variable Length Input and Output</b><br>
It provides flaxebility in which we can provide multiple arguement in function without creating or intielizing variebles. for eg. Sum() function which give two argument and return that sum. but what if whem provide 3rd agrgument, so for that We have to intializing '0' i.e Sum(a,b,c=0). Yes. But what if when we have send 50 arguement for that case we can not able to intilize '0' all 50 arguement So we have to send tuple as arguement

In [34]:
def sum(a,b,c):
    return a + b + c

s = sum(1,2,3)
print(s)

6

In [36]:
def sum(a,b,c,d=0,e=0,f=0):
    return a + b + c + d + e + f

s = sum(1,2,3,4,5,6)
print(s)

21

In [37]:
def sum(a,b,c,d=0,e=0,f=0):
    return a + b + c

s = sum(1,2,3,4,5,6)
print(s)

6

In [44]:
def sum(a, b, c, *more):
    print(a)
    print(b)
    print(c)
    print(more)
    
sum(1,2,3)

1
2
3
()

In [45]:
# for extra argument it will accomodate in tuple
def sum(a, b, c, *more):
    print(a)
    print(b)
    print(c)
    print(more)
    
sum(1,2,3,4,5,6,7)

1
2
3
(4, 5, 6, 7)

In [48]:
def sum(a, b, c, *more):
    ans = a + b + c
    for i in more:
        ans = ans + i
    return ans
    
s = sum(1,2,3,4,5,6,7,8)
print(s)

36

In [49]:
# same as You can apply on output also
def fun(a,b):
    return a+b, a-b, a*b

s = fun(3,4)
print(s)

(7, -1, 12)

### Dictionary