### Tuples, Dictionary And Sets
* <b>Tuples</b><br>
A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

<b>Initialization of Tuple</b>

In [1]:
tup = (2,3,"Deepak",5.4,"Math")
print(tup)

(2, 3, 'Deepak', 5.4, 'Math')

In [2]:
print(type(tup))

<class 'tuple'>

In [4]:
# if you trying to assign multiple values in single variable It will treat like tuple
tup = 2,5,8,"Deepak"
print(tup)
print(type(tup))

(2, 5, 8, 'Deepak')
<class 'tuple'>

In [10]:
# It is not right way to create a tuple. it is like an integer num. intialization 
a,b = 5,6
print(a, end = " ")
print(b)
print(type(a)," ", type(b))

print() #Just for "\n" new line 
# it is right way
e = 6,1,2,1.2
print(e)
print(type(e))

5 6
<class 'int'>   <class 'int'>

(6, 1, 2, 1.2)
<class 'tuple'>

<b> Access the element in Tuple</b><br>
It is the same way which we already disscused in list and String Tutorial

In [11]:
# Create a Tuple and Let's Perform on Opration
t = (2,8,4,2.5,6.5,"Physics", "Math")
print(t)

(2, 8, 4, 2.5, 6.5, 'Physics', 'Math')

In [12]:
print(t[0])

2

In [13]:
print(t[2])

4

In [14]:
print(t[5])

Physics

In [18]:
#print(t[7]) # It will give error "IndexError: list index out of range"

<b> Negative Indexing And Sequencinging Tuple</b>

In [19]:
print(t[-1])

Math

In [20]:
print(t[-2])

Physics

In [21]:
print(t[-3])

6.5

In [22]:
print(t[-5])

4

In [23]:
print(t[-7])

2

In [25]:
# print(t[-8]) # # It will give error "IndexError: list index out of range"

<b>Slicing of A Tuples</b>

In [26]:
print(t[1:3])

(8, 4)

In [27]:
print(t[1:])

(8, 4, 2.5, 6.5, 'Physics', 'Math')

In [28]:
print(t[:])

(2, 8, 4, 2.5, 6.5, 'Physics', 'Math')

In [29]:
print(t[1:10])

(8, 4, 2.5, 6.5, 'Physics', 'Math')

In [30]:
print(t[1:5:1])

(8, 4, 2.5, 6.5)

In [32]:
print(t[1:5:2])

(8, 2.5)

In [33]:
print(t[1:5:1])

(8, 4, 2.5, 6.5)

In [34]:
print(t[1::2])

(8, 2.5, 'Physics')

In [35]:
print(t[:3])

(2, 8, 4)

In [36]:
print(t[-1:])

('Math',)

In [37]:
print(t[-3:-1])

(6.5, 'Physics')

In [38]:
print(t[-3::-1])

(6.5, 2.5, 4, 8, 2)

In [39]:
print(t[3:1:-1])

(2.5, 4)

In [40]:
print(t[3:0:-1])

(2.5, 4, 8)

In [41]:
print(t[3:-1:-1])

()

In [42]:
print(t[3::-1])

(2.5, 4, 8, 2)

<b>Loops On Tuples</b>

In [44]:
t = (1,2,"Parikh",9,10,11,"Ankush")
print(t)

(1, 2, 'Parikh', 9, 10, 11, 'Ankush')

In [45]:
for i in range(len(t)):
    print(t[i])

1
2
Parikh
9
10
11
Ankush

In [46]:
for i in range(2,len(t)):
    print(t[i])

Parikh
9
10
11
Ankush

In [47]:
for ele in t:
    print(ele)

1
2
Parikh
9
10
11
Ankush

In [48]:
for ele in t[2:]:
    print(ele)

Parikh
9
10
11
Ankush

In [49]:
for ele in t[2:4]:
    print(ele)

Parikh
9

<b> Tuples Inbuilt Functions</b>

In [53]:
t = (1,3,4,5)
print(t)

(1, 3, 4, 5)

In [54]:
print(len(t))

4

In [55]:
t1 = (6,7,3)
print(t1)
print()
print(len(t1))

(6, 7, 3)

3

Cocatinate the two Lists

In [56]:
print(t + t1)

(1, 3, 4, 5, 6, 7, 3)

'N' num of times repating List

In [57]:
print(t * 3)

(1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5)

Search 'Num' is present in Tuple or not

In [1]:
t = (1,2,8,4,5,3)
print(t)

(1, 2, 8, 4, 5, 3)

In [3]:
print(1 in t)

True

In [4]:
print(7 in t)

False

In [5]:
print(8 in t)

True

Find 'Min' and 'Max' element

In [6]:
t = (5, 6,3,1,7,5,9)
print(t)

(5, 6, 3, 1, 7, 5, 9)

In [7]:
print(min(t))

1

In [8]:
print(max(t))

9

In [14]:
t = (1,1.2,16.5,1.0,4,5,2)
print(t)

(1, 1.2, 16.5, 1.0, 4, 5, 2)

In [15]:
print(min(t),' ', max(t))

1   16.5

In [16]:
t = (1,"Deepak",2.2,9,6,3,4.0)
print(t)

(1, 'Deepak', 2.2, 9, 6, 3, 4.0)

In [18]:
#print(min(t)) # TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
t = (1,2,(5,8,3,4),17,8,9) 
print(t)

(1, 2, (5, 8, 3, 4), 17, 8, 9)

In [21]:
#print(min(t))# TypeError: '<' not supported between instances of 'tuple' and 'int'

Convert Tuple to List and Vice- Versa

In [22]:
li = [1,2,3,7,5,4]
t = tuple(li)
print(t)

(1, 2, 3, 7, 5, 4)

In [23]:
t = (1,2,3,7,5,4)
li = list(t)
print(li)

[1, 2, 3, 7, 5, 4]

Create Tuple of Tuple and Sort

In [24]:
t = (1,2,3,(5,7,"Deepak",1.4),4,7,3,2)
print(t)

(1, 2, 3, (5, 7, 'Deepak', 1.4), 4, 7, 3, 2)

In [29]:
#sorted(t) # TypeError: '<' not supported between instances of 'tuple' and 'int'

In [30]:
t = (1,8,2,9,3,4,6,2)
print(sorted(t))

[1, 2, 2, 3, 4, 6, 8, 9]

In [32]:
t = [(8,9,1),(2,3,7),(4,5,3)] # lexgraphically Sort
print(sorted(t))

[(2, 3, 7), (4, 5, 3), (8, 9, 1)]

In [33]:
t = (1,8.1,2.5,9.1,3,4,6,2)
print(sorted(t))

[1, 2, 2.5, 3, 4, 6, 8.1, 9.1]

<b> Variable Length Input and Output</b><br>
It provides flaxebility in which we can provide multiple arguement in function without creating or intielizing variebles. for eg. Sum() function which give two argument and return that sum. but what if whem provide 3rd agrgument, so for that We have to intializing '0' i.e Sum(a,b,c=0). Yes. But what if when we have send 50 arguement for that case we can not able to intilize '0' all 50 arguement So we have to send tuple as arguement

In [34]:
def sum(a,b,c):
    return a + b + c

s = sum(1,2,3)
print(s)

6

In [36]:
def sum(a,b,c,d=0,e=0,f=0):
    return a + b + c + d + e + f

s = sum(1,2,3,4,5,6)
print(s)

21

In [37]:
def sum(a,b,c,d=0,e=0,f=0):
    return a + b + c

s = sum(1,2,3,4,5,6)
print(s)

6

In [44]:
def sum(a, b, c, *more):
    print(a)
    print(b)
    print(c)
    print(more)
    
sum(1,2,3)

1
2
3
()

In [45]:
# for extra argument it will accomodate in tuple
def sum(a, b, c, *more):
    print(a)
    print(b)
    print(c)
    print(more)
    
sum(1,2,3,4,5,6,7)

1
2
3
(4, 5, 6, 7)

In [48]:
def sum(a, b, c, *more):
    ans = a + b + c
    for i in more:
        ans = ans + i
    return ans
    
s = sum(1,2,3,4,5,6,7,8)
print(s)

36

In [49]:
# same as You can apply on output also
def fun(a,b):
    return a+b, a-b, a*b

s = fun(3,4)
print(s)

(7, -1, 12)

### Dictionary 
* A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
* Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.
* Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

<b> Creating Dictionaries</b>

d = {}
print(d)

In [2]:
print(type(d))

<class 'dict'>

In [5]:
# Syntex "Key" : "Value" and you can put key and value any tdata type
d = {"the":1, "a":4, 1000:"abc"}
print(d)

{'the': 1, 'a': 4, 1000: 'abc'}

In [6]:
# another way 
b = d.copy()
print(b)

{'the': 1, 'a': 4, 1000: 'abc'}

In [10]:
# another way
c = dict([("the", 1),("a",3),(2,3)])
print(c)

{'the': 1, 'a': 3, 2: 3}

In [13]:
# another way dict.fromkeys(["abc",32,4], Key = "None"(By default))
d = dict.fromkeys(["abc",32,4])
print(d)

{'abc': None, 32: None, 4: None}

In [14]:
d = dict.fromkeys(["abc",32,4],10)
print(d)

{'abc': 10, 32: 10, 4: 10}

<b> Access/Looping in Dic</b><br>
For access thae data we can not use indexing, instead we can ude key

In [15]:
a = {1:2, 3:4, "list":[2,3], "dict":{1:2}}
print(a)

{1: 2, 3: 4, 'list': [2, 3], 'dict': {1: 2}}

In [16]:
print(a["list"])

[2, 3]

In [18]:
print(a[1])

2

In [20]:
#another way
print(a.get("list"))

[2, 3]

In [21]:
#another way if not presen will give none
print(a.get("li"))

None

In [22]:
#another way
print(a.get("li",0))

0

In [23]:
#another way
print(a.keys())

dict_keys([1, 3, 'list', 'dict'])

In [24]:
#another way
print(a.values())

dict_values([2, 4, [2, 3], {1: 2}])

In [26]:
#another way will give list of tupple 
print(a.items())

dict_items([(1, 2), (3, 4), ('list', [2, 3]), ('dict', {1: 2})])

<b> Looping</b>

In [27]:
for i in a:
    print(i,a[i])

1 2
3 4
list [2, 3]
dict {1: 2}

In [29]:
#for running in values
for i in a.values():
    print(i)

2
4
[2, 3]
{1: 2}

In [30]:
#check key present or not
print("list" in a)

True

In [31]:
print(2 in a)

False

<b> Add, Delete, and Update in dict</b>

In [32]:
a["tuple"] = (1,2,3)
print(a)

{1: 2, 3: 4, 'list': [2, 3], 'dict': {1: 2}, 'tuple': (1, 2, 3)}

In [34]:
a['Hello'] = (1,2,4)
print(a)

{1: 2, 3: 4, 'list': [2, 3], 'dict': {1: 2}, 'tuple': (1, 2, 3), 'Hello': (1, 2, 4)}

<b> Update</b>

In [36]:
a[1]=10
print(a)

{1: 10, 3: 4, 'list': [2, 3], 'dict': {1: 2}, 'tuple': (1, 2, 3), 'Hello': (1, 2, 4)}

In [39]:
b ={3:5, "the":4, 2:100}
a.update(b)
print(a)

{1: 10, 3: 5, 'list': [2, 3], 'dict': {1: 2}, 'tuple': (1, 2, 3), 'Hello': (1, 2, 4), 'the': 4, 2: 100}

<b> Delete </b>

In [50]:
del(a[2])

In [51]:
print(a)

{3: 5, 'list': [2, 3], 'dict': {1: 2}, 'tuple': (1, 2, 3), 'Hello': (1, 2, 4)}

In [52]:
a.clear()

In [53]:
print(a)

{}

<b> Example Qus</b>

In [55]:
# Print all Words with freq K
s = "this is a word string having many many word"
k = 2
word = s.split()
d = {}
for w in word:
    if w in d:
        d[w] = d[w] + 1
    else:
        d[w] = 1
        
print(d)

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [57]:
# Print all Words with freq K in consise way
s = "this is a word string having many many word"
k = 2
word = s.split()
d = {}
for w in word:
        d[w] = d.get(w,0) + 1
   
        
print(d)

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [58]:
for w in d:
    if d[w]==k:
        print(w)

word
many

In [62]:
def printKFreq(s,k):
    words = s.split()
    d = {}
    for w in words:
        d[w] = d.get(w,0)+1
    for w in d:
        if d[w] == k:
            print(w)
    
s = "hello hello world"
k = 2
printKFreq(s,k)

hello

<b>Set</b><br>
* Mathematically a set is a collection of items not in any particular order. A Python set is similar to this mathematical definition with below additional conditions.
* The elements in the set cannot be duplicates.
* The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.
* There is no index attached to any element in a python set. So they do not support any indexing or slicing operation
* The sets in python are typically used for mathematical operations like union, intersection, difference and complement etc. We can create a set, access it’s elements and carry out these mathematical operations as shown below.

<b> Creating Set </b>

In [64]:
a = {"apple", "abc", 23}
print(a)

{'abc', 'apple', 23}

In [65]:
print(type(a))

<class 'set'>

In [66]:
print("abc" in a)

True

In [67]:
print(21 in a)

False

In [68]:
for i in a:
    print(i)

abc
apple
23

In [69]:
print(len(a))

3

In [70]:
a.add("temp")
print(a)

{'abc', 'apple', 'temp', 23}

In [71]:
a.add(10)
print(a)

{'temp', 'abc', 10, 23, 'apple'}

In [72]:
b = {"abc","ghi"}
a.update(b)
print(a)

{'temp', 'abc', 10, 23, 'apple', 'ghi'}

In [73]:
a.remove(10)

In [74]:
print(a)

{'temp', 'abc', 23, 'apple', 'ghi'}

In [75]:
a.discard(23)
print(a)

{'temp', 'abc', 'apple', 'ghi'}

In [76]:
a.pop()

'temp'

In [77]:
print(a)

{'abc', 'apple', 'ghi'}

In [78]:
a.clear()
print(a)

set()

<b> Function on Sets</b>

In [89]:
a = {1,2,3,4}
b = {3,4,5,6}
print(a.intersection(b))

{3, 4}

In [80]:
print(a.union(b))

{1, 2, 3, 4, 5, 6}

In [81]:
print(a.difference(b))  # a not b

{1, 2}

In [83]:
print(b.difference(a)) # b not a

{5, 6}

In [84]:
print(a.symmetric_difference(b)) # union - b

{1, 2, 5, 6}

In [87]:
a.intersection_update(b)
print(a)

{3, 4}

In [90]:
a.symmetric_difference_update(b)
print(a)

{1, 2, 5, 6}

In [92]:
print(a.issubset(b))

False

In [93]:
d = {1,2,3,4,}
e = {3,4}
print(d.issubset(e))

False

In [94]:
print(e.issubset(d))

True

In [95]:
print(d.issuperset(e))

True

In [96]:
f = {7,8}
print(d.isdisjoint(f))

True

<b> Eg.Qus </b>

In [98]:
# Sum of all unique element
a = {1,2,3,1,3}
print(len(a))
print(a)

3
{1, 2, 3}

In [99]:
s = {}
print(type(s))

<class 'dict'>

In [102]:
# For Empyt Set
s = set()
print(type(s))

<class 'set'>

In [105]:
def sumUnique(l):
    s = set()
    for i in l:
        s.add(i)
    sum = 0
    for i in s:
        sum = sum + i
    return sum

print(sumUnique([1,2,3,4,4,3,4,2,1,5,5]))

15